@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.card{
    font-family: "Open Sans", sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 50px 0;
    background-color: rgb(255,255,255);
}

.cardInner{
    margin: 40px;
    border: 2px solid black;
    width: 70%;
    max-width: 1400px;
    padding: 10px 10%;
    text-align: center;
    border-radius: 30px;
    font-size: 25px;
    background-color: rgb(31,41,55);
    color: white;
}